.navigation-bar {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #b3ffda, #00e600);
}
.navbar-buttons {
    color: white;
    margin: 8px 15px;
}

.navbar-buttons:hover {
    color: #00e600;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: lightgrey;
}

.navbar-title {
    font-size: 1.5em;
}

.navbar-toggler {
    color: white;
}