ul {
    padding-left: 0px;
}

.remove-user {
    display: none;
    color: red;
}

li:hover .remove-user {
    display: inline;
}

.table-div {
    margin-top: 20px;
}

.table-projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
      width: 20vh;
 }

