.container {
    display: flex;
    min-height: 83vh;
    justify-content: center;
    align-items: center;
}

.errorlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
}

#id_customer_companies, #id_first_name, #id_last_name,
 #id_company, #id_email, #id_company_tax_identification_number {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 40%;
    text-font: 40px;
}

label {
    font-size: 1.2em;
}

.log-div {
    align-items: center;
    text-align: center; /* Center objects in the area */
    width: 60%;
    height: auto;
    background-color: #1a1a1a;
    border-radius: 10%;

    border-radius: 50px; /*1*/
    border: 10px solid transparent; /*2*/
    background: linear-gradient(45deg,#b3ffda, #00e600) border-box; /*3*/
    -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: x
}

.register-button {
    background-color: #1a1a1a;
    height: 10%;
    padding: 18px;
    width: 40%;
    display: block;
    text-align: center;
}

.register-button:hover {
    color: #00e600;
}

@media screen and (max-width: 700px) {
    #id_customer_companies, #id_first_name, #id_last_name,
     #id_company, #id_email, #id_company_tax_identification_number {
        width: 80%;
    }

    label {
    font-size: 1.8em;
    }

    .register-button {
        padding: 18px;
        width: 40%;
    }
}