{% extends 'base.html' %}
{% load static %}

{% block title %}SafeSite Projects{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'webapp/projects_page/css/projects_page.css' %}">
{% endblock %}

{% block content %}
{% include 'header.html' %}{% with title="Users Page" %}{% endwith %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div class="container">
    <div class="row">
        <div class="table-div">
            <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Project Title</th>
                    <th scope="col">Users</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects_data %}
            <tr>
                <td>
                    {{ project.name }}
                </td>
                <td>
                    <ul>
                        {% for user_data in project.users_sorted %}
                        <li id="user-{{ user_data.id }}" class="table-projects projects-li">{{ user_data.first_name }} {{ user_data.last_name }}
                            <a href="#" class="remove-user" data-user-id="{{ user_data.id }}"
                               data-user-fullname="{{ user_data.first_name}} {{user_data.last_name }}"
                               data-project-name="{{ project.name }}"
                               data-url="{% url 'remove_user_from_project' %}" title="Remove">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-x remove-user-icon" viewBox="0 0 16 16">
                                   <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1
                                   .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8
                                   8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                               </svg>
                            </a>
                        </li>
                        {% endfor %}
                        <li class="table-projects"><a href="{% url 'add_user_to_project' project.name %}">Add user</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% include 'footer.html' %}{% with year=year %}{% endwith %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'webapp/projects_page/js/projects_page.js' %}"></script>

{% endblock %}
