{% extends "base.html" %}
{% load static %}

{% block title %}SafeSite SOR{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'webapp/site_observation_report_page/css/site_observation_report_page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row sor-div">
        <div class="col-lg-12">
            <form action="{% url 'site_observation_report_page' %}" method="POST">
                <h3 class="m-3">Site Observation Report</h3>
                {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                    <span class="help-icon" data-toggle="tooltip" title="{{ field.help_text }}">&#9432;</span>{{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                <button class="btn btn-secondary send-button mx-auto m-2">Send</button>
            </form>
        </div>
    </div>
</div>


{% include 'footer.html' %}{% with year=year %}{% endwith %}
{% endblock %}