.container {
    display: flex;
    min-height: 83vh;
    justify-content: center;
    align-items: center;
}

#id_email, #id_password {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 40%;
    text-font: 40px;
}

label {
    font-size: 1.2em;
}

.log-in-button {
    background-color: #1a1a1a;
    height: 10%;
    padding: 18px;
    width: 40%;
    display: block;
    text-align: center;
}

.log-in-button:hover {
    color: #00e600;
}

.log-div {
    height: 50vh;
    width: 60%;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 50px; /*1*/
    border: 10px solid transparent; /*2*/
    background: linear-gradient(45deg,#b3ffda, #00e600) border-box; /*3*/
    -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/

    text-align: center; /* Center objects in the area */

}


@media screen and (max-width: 700px) {
    #id_email, #id_password {
        width: 80%;
    }

    label {
    font-size: 1.8em;
    }

    .log-in-button {
        padding: 18px;
        width: 40%;
    }

}