.sor-div {
    text-align: center; /* Center objects in the area */
    width: 60%;
    height: auto;
    background-color: #1a1a1a;
    border-radius: 10%;
    align-items: center;
    margin: 30px 30px;
    padding: 20px 0px;
}

.container {
    display: flex;
    min-height: 83vh;
    justify-content: center;
    align-items: center;
}

.errorlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
}

.help-icon {
    font-size: 20px;
    display: inline-block;
    padding-right: 5px;
}

#id_project, #id_contractor, #id_subcontractor, #id_date,
 #id_average_number_people, #id_hours_work {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 40%;
    text-font: 40px;
}

.send-button {
    background-color: #1a1a1a;
    height: 10%;
    padding: 18px;
    width: 40%;
    display: block;
    text-align: center;
}

.send-button:hover {
    color: #00e600;
}

@media screen and (max-width: 800px) {
    #id_project, #id_contractor, #id_subcontractor, #id_date,
     #id_average_number_people, #id_hours_work {
        width: 80%;
    }

    #issued_card {
        width: 80%;
    }

    label {
        font-size: 1.8em;
    }

    .send-button {
        padding: 18px;
        width: 40%;
    }

}