body {
    font-family: "Lato", sans-serif;
    font-style: normal;
    background-color: black;
    color: white;
    margin: 0;
}

@media (max-width: 500px) {
    body{
        font-size: 0.7em;
    }
}