{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navigation-bar">
    <div class="container-fluid">
        <img src="{% static 'general_images/SafeSite.PNG' %}" alt="Bootstrap" width="40px" height="40px">
        <a class="navbar-brand navbar-buttons navbar-title mr-2" href="{% url 'intro_page' %}">SafeSite {{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link navbar-buttons" aria-current="page" href="{% url 'intro_page' %}">Home</a>
                </li>
                {% if user.is_authenticated and user.user_type == "hse_inspector" or user.user_type == "project_manager" or user.user_type == "company_representative" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-buttons" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'projects_page' %}">Projects</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_user_page' %}">Create User</a></li>
                            {% if user.is_authenticated and user.user_type == "company_representative" %}<li><a class="dropdown-item" href="{% url 'create_project_page' %}">Create Project</a></li>{% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-buttons" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Send Report
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"></a></li>
                            {% if user.user_type == "hse_inspector" %}<li><a class="dropdown-item" href="{% url 'intro_page' %}">Register company</a></li>{% endif %}
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-buttons" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, {{ user.first_name}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'edit_user_page' %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout_page' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link navbar-buttons" href="{% url 'register_page' %}">Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navbar-buttons" href="{% url 'login_page' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>