.first-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.first-image-text {
  text-align: justify;
}

.log-reg-button {
    width: 40%;
    height: auto;
    background-color: #1a1a1a;
    padding: 18px;
}

.log-reg-button:hover {
    color: #00e600;
}